body{
    background-color:#294452 !important;
}

@font-face {
    font-family: csFont;
    src: url( ../fonts/cs_regular.ttf);
}

@font-face {
    font-family: baseFont;
    src: url( ../fonts/libelsuit.ttf);
}

#banner{
    background-image: url('../imagenes/4.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height:400px;
    margin-bottom:20px;

}

nav{
    font-family: csFont;
    font-size:1.5em;
    margin-bottom:0px !important;
}

#mainTitle{
    font-size:1em;    
}

#noticias {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1em;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:none;
}

#inicioAcciones{
    margin-top:10px;
    margin-right: 10px;
    font-family: csFont;
    font-size:1.5em;
}

.usuarioPanel{
    font-size: 1.5em;
}

form{
    font-family: 'Droid Sans', sans-serif;
    font-size: 1em;
}

h1{
    color:white;
}


