body{
    background-color: #474e50 !important;
    overflow-x: hidden !important ;
}

@font-face {
    font-family: csFont;
    src: url( ../fonts/cs_regular.ttf);
}

@font-face {
    font-family: baseFont;
    src: url( ../fonts/libelsuit.ttf);
}

#banner{
    background-image: url('../imagenes/4.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height:400px;
    margin-bottom:20px;
    text-align:right;
    color:white
}

#banner2{
    background-image: url('../imagenes/7.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height:250px;
    text-align:center;
    margin-top:100px;
    color:white;
}

#textoPie{

    vertical-align:bottom;
}

nav{
    font-family: csFont;
    font-size:1.5em;
    margin-bottom:0px !important;
}

#mainTitle{
    font-size:1em;    
}

#noticias {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1em;
}

a{
    text-decoration:none;
}

#aMensaje{
    text-decoration:none;
    color:white;
}

a:hover{
    text-decoration:none;
}

#inicioAcciones{
    padding-top:20px;
    padding-right: 30px;
    font-family: csFont;
    font-size:1.5em;
}

.usuarioPanel{
    font-size: 1.5em;
}

form{
    font-family: 'Droid Sans', sans-serif;
    font-size: 1em;
}

h1{
    color:white;
}

#integrantesEquipo{
    margin-top:15px;

    padding:10px;
}

#equiposSeccion{
    padding:15px;
    font-family: 'Droid Sans', sans-serif !important;
}

#datosEquipo{
    font-size: 1.4em;
    border-left:1px solid black;
}

#integrantesLabel{
    padding-left:15px
}

#imagenUsuario{
    width:40px;
    height:40px;
}

#imagenUsuarioReto{
    width:200px;
    height:200px;
}

#lupaEquipos{
    font-size: 20px !important;
}

#2oinputNuevoEquipo{
    margin-left:100px !important;
}

#textoSearch{
    margin-left:50px;
}

#livesearch{
    padding:10%;
    font-family: baseFont;
    font-size:1.4em;
    background-color: #ffffff;
}

#pepe{
    font-size:0.7em !important;
    color:gray !important;
}

.contentComment{
    margin-bottom:2%;
}

#solicitudA{
    color: #48d670;
}

#solicitudD{
    color: #d8384b;
}

#imagenEquipo{
    width:250px;
    height: 250px;
    background-size: 100% 100%;
}

@media (max-width: 1201px) {
    #imagenEquipo {
        width:200px;
        height: 200px;
        background-size: 100% 100%;
    }
}

#elNav{
    border-radius: 0px;
}

#entrar{
    color:white;
}

#imagenUser{
    width:60px !important;
    height:60px !important;
    border:1px solid white !important;
    border:1px solid white !important;
}

#badgeMensajes{
    margin-botom:0px;
}

#badgeSolicitudes{
    margin-botom:0px;
}

#errorLogin{
    text-align:center;
}

#inputLoginUser{
    background-color:#c6c6c6;
}

#inputLoginPass{
    background-color:#c6c6c6;
}

#inputLoginBotones{
    text-align:right;
}

#titulo{
    text-align:center;
}

#jumbotronEquipos{
    padding:3%;
}

#jumbotronUsuarios{
    padding:3%;
    text-align:center;
}

#botonesEquipo{
    margin-top:5%;
}

#divNoticias{
    margin-bottom:20px;
}

#panelNoticias{
    border-bottom:2px solid darkblue !important;
}

#headerPanelNoticias{
    text-align:center;
}

#footerPanelNoticias{
    text-align:right;
    margin-bottom:10px;
}

#comentariosNoticias{
    background-color:white;
    padding:15px;
    border-top:4px solid rgba(115, 123, 139, 0.30) !important;
}

#comentarioImagen{
    float:left;
}

#textoComentario{
    height:10%;
}

#divTituloMensajeEntrada{
    margin-top:2%;
    background-color:white;
    padding:1.5%;
}

#divPanelMensajeEntrada{
    margin-top:2%;
    background-color:#d8d8d8;
    padding:1.5%
}

#h2Centrado{
    text-align:center;
}

#divPanelHeadingMensajeEntrada{
    text-align:center;
}

#divPanelFooterMensajeEntrada{
    text-align:right;
}

#tituloOcultoMensaje{
    display:none;
}



#mensajeUuario{
    text-align:center !important;
}

#formNuevoUsuario{
    margin-top:15px;
}

#botonesFormNuevoMensaje{
    margin-top:15px;
}



#footerPanelMensajesSalida{
    text-align:right;
}

#primerDiv{
    margin-top:2%;
    background-color:white;
    padding:1.5%;
}

#divBotonesMensajesEntrada{
    text-align:right;
}

#divBotonesMensajesSalida{
    text-align:right;
}

#textoEntradaMiCuenta{
    padding:50px;
}

#botonesFormMiCuenta{
    text-align:center;
    margin-top:2%;
}

#entradilla{
    font-family: 'Droid Sans', sans-serif;
    font-size:1.3em;
    padding-bottom: 50px;
    text-align: center;
}

#botonSolicitud{
    width:100%;
    height:7%;
    font-size: 1.2em;
    font-family: 'Droid Sans', sans-serif;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

#imagenVs{
    width:50px;
    height:50px;
    margin-left:0px;
}

#imagenReto{
    width:90px;
    height:90px;
}

#resEq{
    text-align:left;
    font-size:2em;
}

#botonReto{
    width:100%;
    height:7%;
    font-family: csFont;
    font-size: 1.7em;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

#linkPag{
    width:100%
}

#paraRetos{
    margin-top:2%;
    background-color:#EEEEEE;
    padding:1.5%;
}

#botonEnviaReto{
    margin-top:50px;
    width:100%;
    text-align: center;
}
