body{
    background-color: #474e50 !important;
    overflow-x: hidden !important ;
}

#primerDiv{
    margin-top:2%;
    background-color:white;
    padding:1.5%;
}

#segundoDiv{
    margin-top:1%;
    background-color:white;
    padding:1.5%;
}

table{
    text-align: center;
}

#taWisy{
    width:90%;
}

.classWisi {
    width: 100%;
    height: 800px;
}

#titulo{
    text-align:center;
    color:white;
}

#botonesFormMiCuenta{
    text-align:center;
    margin-top:2%;
}

#tituloNoticia{
    margin-bottom: 20px;
}

#imagenUsuario{
    width:40px;
    height:40px;
}

#imagenVs{
    width:20px;
    height:20px;
    margin-left:0px;
}

#imagenReto{
    width:40px;
    height:40px;
}
th{
    text-align: center
}

#spanMargin{
    margin-left:5px;
}

#textoEntradaMiCuenta{
    text-align:center;
    font-size:1.5em;
    padding-bottom:20px;
}