{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Noticias
{% endblock %}

{%block contenido %}
<div id="noticias">
    <div class="col-md-8">
        {% for noticia in noticias %}
            <div class="col-md-12" style="margin-bottom:20px">
                <div class="panel panel-default" style="border-bottom:2px solid darkblue !important;">
                    <div class="panel-body">
                        <div class="page-header" style="text-align:center">
                            <h2>{{ noticia.titulo }}</h2>
                        </div>
                        <div class="panel-footer" style="text-align:right;margin-bottom:10px;">
                            <span>Noticia creada por: {{ noticia.user }} el {{ noticia.fecha }}</span>
                        </div>
                        {{ noticia.texto }}
                    </div>

                    <div class="col-md-12" style="background-color:#c0c0c0;padding:15px;border-top:2px solid darkblue !important;">
                        <div>
                            <h3>Comentarios</h3>
                            <hr/>
                            <div class="comment">
                                <a style="float:left;">
                                    <img style="padding-right:7px;width:50px;height:50px;" src="imagenes/interrogacion.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Mathy</a>
                                    <div class="metadata">
                                        <span class="date">Today at 5:42PM</span>
                                    </div>
                                    <div class="text">

                                    </div>
                                </div>
                            </div>

                            <form class="ui reply form">
                                <div class="field" >
                                    <textarea style="height:10%"></textarea>
                                </div>
                                <div class="ui blue labeled submit icon button">
                                    <i class="icon edit"></i> Enviar
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        {% endfor %}
    </div>
<div id="lat">
    <div class="col-md-4">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi velit incidunt accusantium architecto dicta impedit iste fugit quis illum amet voluptas nostrum, dolorem, deleniti sit magnam inventore beatae nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eaque ea consequuntur, officiis laborum ab vel debitis enim recusandae cumque voluptatem aspernatur, sequi est, aliquam aliquid maiores dolore hic quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde vitae impedit soluta delectus, dolore incidunt deleniti hic enim ipsam deserunt, quod iste ratione maxime placeat. Voluptates, non esse laudantium?
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi velit incidunt accusantium architecto dicta impedit iste fugit quis illum amet voluptas nostrum, dolorem, deleniti sit magnam inventore beatae nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eaque ea consequuntur, officiis laborum ab vel debitis enim recusandae cumque voluptatem aspernatur, sequi est, aliquam aliquid maiores dolore hic quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde vitae impedit soluta delectus, dolore incidunt deleniti hic enim ipsam deserunt, quod iste ratione maxime placeat. Voluptates, non esse laudantium?
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi velit incidunt accusantium architecto dicta impedit iste fugit quis illum amet voluptas nostrum, dolorem, deleniti sit magnam inventore beatae nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eaque ea consequuntur, officiis laborum ab vel debitis enim recusandae cumque voluptatem aspernatur, sequi est, aliquam aliquid maiores dolore hic quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde vitae impedit soluta delectus, dolore incidunt deleniti hic enim ipsam deserunt, quod iste ratione maxime placeat. Voluptates, non esse laudantium?
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}
