{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Noticias
{% endblock %}

{%block contenido %}
<div id="noticias">
    <div class="col-md-8">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header" style="text-align:center">
                        <h2>Example page header</h2>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde blanditiis ipsam at dolores pariatur repudiandae atque excepturi sit reprehenderit, reiciendis officiis, necessitatibus amet eligendi deleniti rerum a? Porro, commodi, architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil praesentium natus hic recusandae? Aliquid modi non cumque hic in sed, laudantium, similique laborum, ipsam voluptatum dolor assumenda iste ex tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id distinctio voluptas, mollitia corporis dolor impedit quasi, architecto nihil nam eveniet officia, sunt dicta vitae? Vero mollitia autem, recusandae quaerat ad.
                </div>
                <div class="panel-footer" style="text-align:right">
                    <span>Noticia creada por: Usuario el 15/04/2015</span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header" style="text-align:center">
                        <h2>Example page header</h2>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde blanditiis ipsam at dolores pariatur repudiandae atque excepturi sit reprehenderit, reiciendis officiis, necessitatibus amet eligendi deleniti rerum a? Porro, commodi, architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil praesentium natus hic recusandae? Aliquid modi non cumque hic in sed, laudantium, similique laborum, ipsam voluptatum dolor assumenda iste ex tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id distinctio voluptas, mollitia corporis dolor impedit quasi, architecto nihil nam eveniet officia, sunt dicta vitae? Vero mollitia autem, recusandae quaerat ad.
                </div>
                <div class="panel-footer" style="text-align:right">
                    <span>Noticia creada por: Usuario el 15/04/2015</span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header" style="text-align:center">
                        <h2>Example page header</h2>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde blanditiis ipsam at dolores pariatur repudiandae atque excepturi sit reprehenderit, reiciendis officiis, necessitatibus amet eligendi deleniti rerum a? Porro, commodi, architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil praesentium natus hic recusandae? Aliquid modi non cumque hic in sed, laudantium, similique laborum, ipsam voluptatum dolor assumenda iste ex tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id distinctio voluptas, mollitia corporis dolor impedit quasi, architecto nihil nam eveniet officia, sunt dicta vitae? Vero mollitia autem, recusandae quaerat ad.
                </div>
                <div class="panel-footer" style="text-align:right">
                    <span>Noticia creada por: Usuario el 15/04/2015</span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header" style="text-align:center">
                        <h2>Example page header</h2>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde blanditiis ipsam at dolores pariatur repudiandae atque excepturi sit reprehenderit, reiciendis officiis, necessitatibus amet eligendi deleniti rerum a? Porro, commodi, architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil praesentium natus hic recusandae? Aliquid modi non cumque hic in sed, laudantium, similique laborum, ipsam voluptatum dolor assumenda iste ex tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id distinctio voluptas, mollitia corporis dolor impedit quasi, architecto nihil nam eveniet officia, sunt dicta vitae? Vero mollitia autem, recusandae quaerat ad.
                </div>
                <div class="panel-footer" style="text-align:right">
                    <span>Noticia creada por: Usuario el 15/04/2015</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="lat">
    <div class="col-md-4">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi velit incidunt accusantium architecto dicta impedit iste fugit quis illum amet voluptas nostrum, dolorem, deleniti sit magnam inventore beatae nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eaque ea consequuntur, officiis laborum ab vel debitis enim recusandae cumque voluptatem aspernatur, sequi est, aliquam aliquid maiores dolore hic quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde vitae impedit soluta delectus, dolore incidunt deleniti hic enim ipsam deserunt, quod iste ratione maxime placeat. Voluptates, non esse laudantium?
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi velit incidunt accusantium architecto dicta impedit iste fugit quis illum amet voluptas nostrum, dolorem, deleniti sit magnam inventore beatae nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eaque ea consequuntur, officiis laborum ab vel debitis enim recusandae cumque voluptatem aspernatur, sequi est, aliquam aliquid maiores dolore hic quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde vitae impedit soluta delectus, dolore incidunt deleniti hic enim ipsam deserunt, quod iste ratione maxime placeat. Voluptates, non esse laudantium?
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi velit incidunt accusantium architecto dicta impedit iste fugit quis illum amet voluptas nostrum, dolorem, deleniti sit magnam inventore beatae nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eaque ea consequuntur, officiis laborum ab vel debitis enim recusandae cumque voluptatem aspernatur, sequi est, aliquam aliquid maiores dolore hic quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde vitae impedit soluta delectus, dolore incidunt deleniti hic enim ipsam deserunt, quod iste ratione maxime placeat. Voluptates, non esse laudantium?
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}
