{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Mensajes
{% endblock %}

{% block contenido %}
    <div class="col-md-8 col-md-offset-2" style="margin-top:2%;background-color:white;padding:1.5%">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="/entrada">Bandeja de entrada</a></li>
            <li role="presentation"><a href="/salida">Bandeja de salida</a></li>
            <li role="presentation"><a href="#">Nuevo</a></li>
        </ul>
        <p></p>
        <div id="a" style="text-align:center">
            <h2>Bandeja de entrada</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Asunto</th>
                    <th>De</th>
                    <th>Fecha</th>
                </tr>
                </thead>
                <tbody>
                {% for mensaje in mensajes %}
                    <tr>
                        <th scope="row">{% if mensaje.leido==0 %}<i class="fa fa-envelope"></i>{% else %}<i class="fa fa-envelope-o"></i>{% endif %}</th>
                        <td>{{ mensaje.asunto }}</td>
                        <td>{{ mensaje.user }}</td>
                        <td>{{ mensaje.fecha }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}