{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Mensajes
{% endblock %}

{% block contenido %}
    <div class="col-md-8 col-md-offset-2" style="margin-top:2%;background-color:white;padding:1.5%">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="/entrada">Bandeja de entrada</a></li>
            <li role="presentation"><a href="/salida">Bandeja de salida</a></li>
            <li role="presentation" class="active"><a href="/nuevoMensaje">Nuevo</a></li>
        </ul>
        <p></p>
        <form action="/" method="POST" class="col-md-8 col-md-offset-2">
            <div id="mensajeUsuario" style="text-align:center">
                <h2>Nuevo Mensaje</h2>
                <span class="input input--makiko">
                    <input class="input__field input__field--makiko" type="text" id="input-32" onkeyup="showResult(this.value)"/>
                    <label class="input__label input__label--makiko" for="input-16">
                        <span class="input__label-content input__label-content--makiko"><span id="textoSearch">Escribe para buscar un usuario</span></span>
                    </label>
                </span>
                <div id="livesearch">
                    {% if usuarioMensaje %}
                        {{ usuarioMensaje['user'] }}
                    {% endif %}
                </div>

            </div>
            <div style="margin-top:15px;">
                <input type="text" class="form-control" name="asunto" placeholder="Escibe aquí el asunto de tu mensaje"><br/>
                <textarea placeholder="Escribe aquí el contenido de tu mensaje" class="form-control" rows="5" id="comment" name="mensaje"></textarea>
                <button class="ui blue submit icon button" style="margin-top:15px;" {% if usuarioMensaje %}value="{{ usuarioMensaje['id'] }}"{% endif %} type="submit" name="enviarNuevoMensaje">
                    <i class="fa fa-paper-plane"></i> Enviar
                </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="js/classie.js"></script>
    <script src="js/selectFx.js"></script>
    <script>
        (function() {
            [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
                new SelectFx(el);
            } );
        })();
    </script>

    <script>
        (function() {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function() {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function() {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                // in case the input is already filled..
                if( inputEl.value.trim() !== '' ) {
                    classie.add( inputEl.parentNode, 'input--filled' );
                }

                // events:
                inputEl.addEventListener( 'focus', onInputFocus );
                inputEl.addEventListener( 'blur', onInputBlur );
            } );

            function onInputFocus( ev ) {
                classie.add( ev.target.parentNode, 'input--filled' );
            }

            function onInputBlur( ev ) {
                if( ev.target.value.trim() === '' ) {
                    classie.remove( ev.target.parentNode, 'input--filled' );
                }
            }
        })();
    </script>

    <script>
        function showResult(str) {
            if (str.length==0) {
                document.getElementById("livesearch").innerHTML="";
                document.getElementById("livesearch").style.border="0px";
                return;
            }
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            } else {  // code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function() {
                if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                    console.log(xmlhttp.responseText);
                    document.getElementById("livesearch").innerHTML=xmlhttp.responseText;
                    document.getElementById("livesearch").style.border="1px solid #A5ACB2";
                }
            }
            xmlhttp.open("GET","/buscarUsuario/"+str,true);
            xmlhttp.send();
        }
    </script>
{% endblock %}