{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Mensajes
{% endblock %}

{% block contenido %}
    <p></p>
    <div class="col-md-8 col-md-offset-2" id="primerDiv">
        <h2 id="h2Centrado">Mensaje de {{ mensaje.user }}</h2>
        <div class="col-md-8 col-md-offset-2" id="divPanelMensajesSalida">
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-heading" id="h2Centrado">
                        <h4>{{ mensaje.asunto }}</h4>
                    </div>
                    <div class="panel-body">
                        {{ mensaje.mensaje }}
                    </div>
                    <div class="panel-footer" id="footerPanelMensajesSalida">
                        <span>Fecha: {{ mensaje.fecha }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
