{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Nuevo equipo
{% endblock %}

{% block contenido %}
    <div class="col-md-4 col-md-offset-4" style="text-align:center">
        <h1>Nuevo equipo</h1>
    </div>
    <div class="col-md-8 col-md-offset-2" style="margin-top:2%;background-color:white;padding:1.5%">
    {% if msgCuenta %}
        <div class='alert alert-{{ msgCuenta['0'] }}' role='alert' style='text-align:center;'>{{ msgCuenta['1'] }}</div>
    {% endif %}
    <form class="form-horizontal" action="/" method="POST" enctype="multipart/form-data">
        <div class="row" style="text-align:center">
            <p style="padding:50px;">
                Aquí podrás crear tu nuevo equipo.
            </p>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <span class="input input--manami">
    		    <input class="input__field input__field--manami" type="text" id="input-32" name="nombreEquipo" required/>
                <label class="input__label input__label--manami" for="input-32">
                    <span class="input__label-content input__label-content--manami">*Nombre del equipo</span>
                </label>
		    </span>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <span class="input input--manami">
    		    <input class="input__field input__field--manami" type="text" id="input-100" name="urlSteam" required/>
                <label class="input__label input__label--manami" for="input-100">
                    <span class="input__label-content input__label-content--manami">*URL de grupo STEAM</span>
                </label>
		    </span>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <span class="input input--manami">
    		    <input class="input__field input__field--manami" type="text" id="input-32" name="webEquipo" />
                <label class="input__label input__label--manami" for="input-32">
                    <span class="input__label-content input__label-content--manami">Web</span>
                </label>
		    </span>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <span class="input input--manami">
    		    <input name="logoEquipo" id="logoEquipo" class="input__field input__field--manami" type="file" id="input-32" />
                <label class="input__label input__label--manami" for="input-32">
                    <span class="input__label-content input__label-content--manami">Logo de equipo</span>
                </label>
		    </span>
        </div>


    <div class="col-md-4 col-md-offset-4" style="text-align:center;margin-top:2%">
        <button type="submit"  class="btn btn-primary" name="botonFormNuevoEquipo">Crear</button>
        <a href="/equipos"><button class="btn btn-default">Atrás</button></a>
    </div>
    </form>
    {% endblock %}

    {% block scripts %}
    <script src="js/classie.js"></script>
    <script>
        (function() {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function() {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function() {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                // in case the input is already filled..
                if( inputEl.value.trim() !== '' ) {
                    classie.add( inputEl.parentNode, 'input--filled' );
                }

                // events:
                inputEl.addEventListener( 'focus', onInputFocus );
                inputEl.addEventListener( 'blur', onInputBlur );
            } );

            function onInputFocus( ev ) {
                classie.add( ev.target.parentNode, 'input--filled' );
            }

            function onInputBlur( ev ) {
                if( ev.target.value.trim() === '' ) {
                    classie.remove( ev.target.parentNode, 'input--filled' );
                }
            }
        })();
    </script>
    {% endblock %}
